.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;

  input {
    margin: 5px 0;
    border: 1px solid var(--color-title-1);
    background-color: transparent;
  }

  button {
    padding: 5px;
  }
}
