.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;

  input {
    margin: 5px 0;
    border: 1px solid var(--color-title-1);
    background-color: transparent;
  }

  button {
    cursor: pointer;
    padding: 5px;
    background-color: var(--color-title-1);
    color: var(--color-text);

    &:hover {
      background-color: var(--color-title-hover);
    }
  }
}
