.logoutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: transparent;

  .imgBox {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    
    img {
      width: 100%;
      padding: 5px;
      background-color: var(--color-title-2);
    }
  }

  .title {
    margin-left: 10px;
    padding: 5px;
    color: var(--color-title-2);
    font-weight: bold;
  }

  &:hover {
    .imgBox {
      border: 1px solid var(--color-title-2);
    }

    .title {
      background-color: var(--color-title-2);
      color: var(--color-title-1);
    }
  }
}
