.settingsMenu {
  .menu {
    position: fixed;
    top: var(--size-heade-height);
    // bottom: var(--size-footer-height);

    display: flex;
    flex-direction: column;
    width: 200px;
    min-width: fit-content;
    height: fit-content;

    background-color: var(--color-title-1);
    border-top: 2px solid var(--color-title-2);
    transition: right 0.3s ease-in-out;
    z-index: 3;

    .settingsMenuBloc {
      display: flex;
      align-items: center;
      width: 100%;
      height: 50px;
      border-bottom: 2px solid var(--color-title-2);
    }
  }

  .menuShow {
    right: 0;
  }

  .menuHide {
    right: -100%;
  }
}

.mainButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 30px;

  .gear {
    display: flex;
    justify-content: center;
    align-items: center;

    .gearInner {
      width: 24px;
      height: 24px;
      background-color: var(--color-title-1);
      border: solid 3px var(--color-title-2);
      border-radius: 50%;
      z-index: 1;
    }

    .gearSpoke {
      position: absolute;
      top: 8px;
      width: 11px;
      height: 17px;
      background-color: var(--color-title-2);
      transform-origin: bottom center;
      clip-path: polygon(30% 0%, 70% 0%, 100% 100%, 0% 100%);
      z-index: 0;
    }

    .gearSpoke:nth-child(2) {
      transform: rotate(45deg);
    }

    .gearSpoke:nth-child(3) {
      transform: rotate(90deg);
    }

    .gearSpoke:nth-child(4) {
      transform: rotate(135deg);
    }

    .gearSpoke:nth-child(5) {
      transform: rotate(180deg);
    }

    .gearSpoke:nth-child(6) {
      transform: rotate(225deg);
    }

    .gearSpoke:nth-child(7) {
      transform: rotate(270deg);
    }

    .gearSpoke:nth-child(8) {
      transform: rotate(315deg);
    }
  }

  &:hover {
    background-color: var(--color-title-hover);

    .gear {
      .gearInner {
        background-color: var(--color-title-hover);
        border-color: var(--color-text);
      }
      .gearSpoke {
        background-color: var(--color-text);
      }
    }
  }
}
