.pedsonalAccountButtton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: transparent;

  .imgBox {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;

    img {
      width: 100%;
    }
  }

  .title {
    margin-left: 10px;
    padding: 5px;
    color: var(--color-title-2);
    font-weight: bold;
  }

  &:hover {
    .imgBox {
      border: 1px solid var(--color-title-2);
    }

    .title {
      background-color: var(--color-title-hover);
      color: var(--color-text);
    }
  }

  .personIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    padding: 2px 0;

    &:hover {
      border: 1px solid var(--color-title-2);
    }

    &:before {
      content: "";
      width: 15px;
      height: 15px;
      border: 3px solid var(--color-title-2);
      border-radius: 100%;
    }

    &:after {
      content: "";
      width: 20px;
      height: 18px;

      border-top: 3px solid var(--color-title-2);
      border-left: 3px solid var(--color-title-2);
      border-right: 3px solid var(--color-title-2);

      border-radius: 100% 100% 0 0;
    }
  }
}
