.footer {
  grid-area: foot;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  background-color: var(--color-title-1);
  color: var(--color-title-2);

  button {
    cursor: pointer;
    height: 100%;
    padding: 5px;
    padding-bottom: 10px;
    background-color: var(--color-title-1);
    color: var(--color-text);

    &:hover {
      background-color: var(--color-title-hover);
    }
  }
}