.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  background-image: url("/src/assets/background.png");
  background-size: cover;
}

.midle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--color-title-1);
  font-size: 30px;
  font-weight: bold;
}
