.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  background: linear-gradient(blue, 5%, pink, blue);
  background: linear-gradient( rgb(103, 103, 255) 1%, rgb(228, 222, 253) 10% 90%, rgb(103, 103, 255) 99%);
  background-size: cover;
}

.midle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--color-title-1);
  font-size: 30px;
  font-weight: bold;
}
