.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  background-image: url("/src/assets/background.png");
  background-size: cover;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
}
