.languageSwitcher {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .mainButtonBox {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 3;
  }

  .languagesList {
    position: absolute;
    top: -6px;
    right: 200px;

    display: flex;
    flex-direction: column;
    width: 150px;
    height: fit-content;
    max-height: 150px;
    padding: 5px 0 5px 5px;

    background-color: var(--color-title-1);
    border-top: 2px solid var(--color-title-2);
    border-right: 2px solid var(--color-title-2);
    border-bottom: 2px solid var(--color-title-2);

    overflow-y: scroll;
    overflow-x: hidden;

    .buttonBox {
      .languageButton {
        img {
          width: 35px;
          height: 35px;
        }
      }
    }
  }

  .showLanguagesList {
    display: none;
  }

  .mainButtonBox,
  .languagesList {
    .buttonBox {
      display: flex;
      justify-content: left;
      align-items: center;

      .languageButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content;

        border: none;
        background-color: transparent;

        .imgBox {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;

          img {
            width: 35px;
            height: 35px;
            color: var(--color-title-2);
          }
        }

        .title {
          margin-left: 10px;
          padding: 5px;
          color: var(--color-title-2);
          font-weight: bold;
        }

        &:hover {
          .imgBox {
            border: 1px solid var(--color-title-2);
          }

          .title {
            background-color: var(--color-title-2);
            color: var(--color-title-1);
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
