.sidebarWrapper {
  .mainButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--size-heade-height);
    height: var(--size-heade-height);
    font-size: 30px;
  }

  .blackBackground {
    cursor: pointer;
    position: fixed;
    top: var(--size-heade-height);
    bottom: var(--size-footer-height);

    width: 100%;
    height: 100%;

    border: none;
    background-color: var(--color-title-black-background);

    opacity: 1;
    pointer-events: all;
    transition: 300ms ease-in-out;

    &:hover + .mainButton {
      color: var(--color-text);
      background-color: var(--color-title-hover);
    }
  }

  .blackBackgroundHide {
    opacity: 0;
    pointer-events: none;
  }

  .sidebar {
    position: fixed;
    top: var(--size-heade-height);
    bottom: var(--size-footer-height);

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40px auto;
    grid-template-areas: "hh" "bb";

    width: 300px;

    background-color: var(--color-title-1);
    transition: left 0.3s ease-in-out;
    z-index: 3;

    .head,
    .body {
      display: flex;
      border-bottom: 2px solid var(--color-title-2);
    }
  }

  .sidebarShow {
    left: 0;
  }

  .sidebarHide {
    left: -100%;
  }
}

.head {
  grid-area: hh;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--color-title-2);

  .mainNavigationArea {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.body {
  grid-area: bb;

  .navigationButtonsWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .menuNameButton {
      text-align: left;
      width: 60%;
      min-width: fit-content;
      margin: 5px 0;
      padding: 5px 10px;
      font-size: 20px;
      white-space: nowrap;
    }

    .menuBox {
      .subMenuBox {
        padding-left: 25px;

        .subMenuName {
          text-align: left;
          width: 190px;
          min-width: fit-content;
          padding: 5px 10px 5px 3px;
        }
      }
    }
  }
}
