:root {
  --color-title-1: #000000;
  --color-title-2: #00e5ff;
  --color-title-hover: #0da575;
  --color-title-black-background: #00000080;

  --color-grren: #18972b;
  --color-orange: #fc9300;
  --color-error: rgb(211, 52, 52);
  --color-text: #fff;
  --color-border: rgba(0, 0, 0, 0.6);

  --size-heade-height: 50px;
  --size-footer-height: 30px;
  --size-table-img: 35px;
}

.App {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: var(--size-heade-height) auto var(--size-footer-height);
  grid-template-areas: "head" "main" "foot";
  // gap: 10px; // indents between elements

  width: 100vw;
  height: 100vh;
}

button {
  cursor: pointer;
  border: none;
}

.mainButtonStyles {
  cursor: pointer;
  background-color: var(--color-title-1);
  color: var(--color-title-2);

  &:hover {
    background-color: var(--color-title-2);
    color: var(--color-title-1);
  }
}

::-webkit-scrollbar {
  background-color: var(--color-title-1);
}

::-webkit-scrollbar-corner {
  background-color: var(--color-title-1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-orange);
  &:hover {
    cursor: pointer;
    background-color: var(--color-title-hover);
  }
}
