:root {
  --color-title-1: #074d29;
  --color-title-2: #f7d476;
  --color-title-hover: #009949;
  --color-title-black-background: #00000080;

  --color-hover-row: #b5fca2ff;
  --color-current-row: #05ca64;
  --color-rauschert-orange: #eb8b2d;
  --color-error: rgb(211, 52, 52);
  --color-text: #fff;
  --color-yellow: rgb(217, 217, 28);
  --color-border: rgba(0, 0, 0, 0.6);

  --size-table-img: 30px;
}

.App {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60px auto 40px;
  grid-template-areas: "head" "main" "foot";
  // gap: 10px; // indents between elements

  width: 100vw;
  height: 100vh;
}
